<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/pictures/icons/logo-b.ico">
    <title>BimBam | Contacts</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/contacts.css">
    <link rel="stylesheet" href="../static/css/adaptive.css">
    <link rel="stylesheet" href="../static/css/animation.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="header-logo">
                <a href="/"><img src="../static/pictures/icons/BB-logo-half.svg" alt="logo"></a>
            </div>
            <div class="header-nav-burger">
                <div class="header-lenguage montserrat">
                    <form class="montserrat">
                        <select name="lenguage" id="lenguage" class="montserrat">
                          <option value="ru" class="montserrat">ru</option>
                          <option value="en" class="montserrat">en</option>
                        </select>
                    </form>
                </div>
                <div class="burger-menu">
                    <button class="burger-button"><div class="burger-slash"></div>
                        <div class="burger-slash"></div>
                        <div class="burger-slash"></div></button>
                    <nav class="nav">
                        <div class="nav-list">
                            <ul class="comfortaa">
                                <a href="/" class="nav-link comfortaa"><li class="nav-item">Главная</li></a>
                                <a href="/achievements" class="nav-link"><li class="nav-item">Достижения</li></a>
                                <a href="/" class="nav-link"><li class="nav-item">Услуги</li></a>
                                <a href="/contacts" class="nav-link"><li class="nav-item">Мы в интернете</li></a>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="section-qr">
            <img src="../static/pictures/Vector3.png" class="vector" alt="vector">
            <div class="container">
                <h2 class="rubik qr-title">Мы в интернете</h1>
                <div class="section-qr__wrapper">
                    <div class="qr-item _anim-items">
                        <div class="qr-item__image"><img src="../static/pictures/icons/telegram.svg" alt="tg"></div>
                        <h3>Telegram канал Тимлида</h3>
                        <div class="qr-item__code">
                            <a href="https://t.me/provodAAA"><img src="../static/pictures/icons/qr-code-teamleed.svg" alt="qr-code"></a>
                        </div>
                    </div>
                    <div class="qr-item _anim-items">
                        <div class="qr-item__image"><img src="../static/pictures/icons/telegram.svg" alt="tg"></div>
                        <h3>Телеграм канал BimBam</h3>
                        <div class="qr-item__code">
                            <a href="https://t.me/bimbamunik"><img src="../static/pictures/icons/qr-code-bimbam.svg" alt="qr-code"></a>
                        </div>
                    </div>
                    <div class="qr-item _anim-items">
                        <div class="qr-item__image"><img src="../static/pictures/icons/mail.svg" alt="mail"></div>
                        <h3>Почта</h3>
                        <div class="qr-item__code">
                            <a href="this.bimbam@gmail.com"><img src="../static/pictures/icons/qr-code-mail.svg" alt="mail"></a>
                        </div>
                    </div>
                    <div class="qr-item _anim-items">
                        <div class="qr-item__image"><img src="../static/pictures/icons/github.svg" alt="git"></div>
                        <h3>GitHub Тимлида</h3>
                        <div class="qr-item__code">
                            <a target="_blank" href="https://github.com/Mobbub"><img src="../static/pictures/icons/qr-code-git-tramleed.svg" alt="qr-code"></a>
                        </div>
                    </div>
                    <div class="qr-item _anim-items">
                        <div class="qr-item__image"><img src="../static/pictures/icons/github.svg" alt="git"></div>
                        <h3>GitHub Макса (Backend)</h3>
                        <div class="qr-item__code">
                            <a target="_blank" href="https://github.com/chaixxone" ><img src="../static/pictures/icons/qr-code-git-max.svg" alt="qr-code"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__wrapper-logo footer__item">
                    <img src="../static/pictures/icons/BB-logo-half.svg" alt="logo">
                </div>
                <div class="footer__wrapper-nav footer__item">
                    <ul>
                        <li><a href="/" class="comfortaa">Главная</a></li>
                        <li><a href="/achievements" class="comfortaa">Достижения</a></li>
                        <li><a href="#" class="comfortaa">Мы в интернете</a></li>
                        <li><a href="/contacts" class="comfortaa">Услуги</a></li>
                    </ul>
                </div>
                <div class="footer__wrapper-contacts footer__item">
                    <div class="footer-contacts__item"><img src="../static/pictures/icons/telegram.svg" alt="telegram"><a target="_blank" href="https://t.me/bimbamunik">t.me/bimbamunik</a></div>
                    <div class="footer-contacts__item"><img src="../static/pictures/icons/mail.svg" alt="mail"><a target="_blank" href="https://this.bimbam@gmail.com">this.bimbam@gmail.com</a></div>
                    <div class="footer-contacts__item"><img src="../static/pictures/icons/web.svg" alt="tg"><a target="_blank" href="https://t.me/provodTech">t.me/provodTech</a></div>
                </div>
            </div>
        </div>
    </footer>
    <script src="../static/js/burger.js"></script>
    <script src="../static/js/scroll.js"></script>
</body>
</html>