<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/pictures/icons/logo-b.ico">
    <title>BimBam</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/animation.css">
    <link rel="stylesheet" href="../static/css/adaptive.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="header-logo">
                <a href="/"><img src="../static/pictures/icons/BB-logo-half.svg" alt="logo"></a>
            </div>
            <div class="header-nav-burger">
                <div class="header-lenguage montserrat">
                    <form class="montserrat">
                        <select name="lenguage" id="lenguage" class="montserrat">
                          <option value="ru" class="montserrat">ru</option>
                          <option value="en" class="montserrat">en</option>
                        </select>
                    </form>
                </div>
                <div class="burger-menu">
                    <button class="burger-button"><div class="burger-slash"></div>
                        <div class="burger-slash"></div>
                        <div class="burger-slash"></div></button>
                    <nav class="nav">
                        <div class="nav-list">
                            <ul class="comfortaa">
                                <a href="/" class="nav-link comfortaa"><li class="nav-item">Главная</li></a>
                                <a href="/achievements" class="nav-link"><li class="nav-item">Достижения</li></a>
                                <a href="/" class="nav-link"><li class="nav-item">Услуги</li></a>
                                <a href="/contacts" class="nav-link"><li class="nav-item">Мы в интернете</li></a>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="section-main _anim-items">
            <div class="sphere">
                <img src="../static/pictures/sphere.png" alt="sphere" class="_anim-items spheres">
                <img src="../static/pictures/sphere.png" alt="sphere" class="_anim-items spheres">
                <img src="../static/pictures/sphere.png" alt="sphere" class="_anim-items spheres">
                <img src="../static/pictures/sphere.png" alt="sphere" class="_anim-items spheres">
                <img src="../static/pictures/sphere.png" alt="sphere" class="_anim-items spheres">
                <img src="../static/pictures/sphere.png" alt="sphere" class="_anim-items spheres">
            </div>
            <div class="container">
                <div class="section-main__figure">
                    <img src="../static/pictures/bimbam-tr-logo.png" alt="logo" class="_anim-items logo-background">
                    <img src="../static/pictures/ellipse.png" alt="elips" class="section-main__elips _anim-items">
                    <img src="../static/pictures/ellipse.png" alt="elips" class="section-main__elips _anim-items">
                    <img src="../static/pictures/ellipse.png" alt="elips" class="section-main__elips _anim-items">
                    <img src="../static/pictures/chess-figure.png" alt="figure" class="figure _anim-items">
                </div>
                <div class="section-main-text__wrapper">
                    <div class="section-main__text _anim-items">
                        <h1>student IT team</h1>
                        <p>Команда BimBam<br>
                            работает качественно<br>
                            и продуктивно</p>
                        <a href="/achievements"><button class="montserrat">Портфолио</button></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-command-info">
            <div class="container _anim-items">
                <h2>Команда студентов КФУ им. В. И. Вернадского</h2>
                <p>Мы активно занимаемся такими направлениями, как data science, ML и LLM engineering, web development, desktop development, telegram bots development, microservice architecture.</p>
                <a href="#"><button class="montserrat">О нас</button></a>
                <img src="../static/pictures/command-photo.jpg" alt="command" class="command-photo">
                <img class="img-lines" src="../static/pictures/bimbam-lines.png" alt="lines">
            </div>
        </section>
        <section class="section-command-list">
            <div class="container">
                <div class="top-block block _anim-items">
                    <div class="command__title">
                        <h2 class="rubik">Участники команды</h2>
                    </div>
                </div>
                <div class="section-command__developers">
                    <img src="../static/pictures/Vector2.png" alt="stars" class="vector">
                    <div class="card_list">
                        <div class="card-developer__item left">
                            <div class="card-info">
                                <div class="card-image">
                                    <img src="../static/pictures/kanevskiy.jpg" alt="kanevsky">
                                </div>
                                <div class="card-text comfortaa">
                                    <h3 class="montserrat">Каневский Максим (BackEnd)</h3>
                                    <p><span>Hard skills: </span>Python: sqlalchemy, mysql.connector; C++: STL, шаблоны, CMake, ZeroMQ, Catch2; СУБД: MySQL, SQLite; git; Linux: Ubuntu, Debian.</p>
                                    <p><span>Soft skills: </span>Обучаемость, способность находить решение проблем, умение изъясняться письменно, умение объяснять, упорядочивание и организация своей деятельности</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-developer__item">
                            <div class="card-info">
                                <div class="card-image">
                                    <img src="../static/pictures/vanya.jpg" alt="vanya">
                                </div>
                                <div class="card-text comfortaa">
                                    <h3 class="montserrat">Кулебакин Иван (Backend, data scientist, fullstack, Teamlead)</h3>
                                    <p><span>Hard skills: </span>Python: flask, fastapi, telebot, sqlalchemy, torch, numpy, pandas, sklearn, cv2; YOLO; HTML5; CSS3; JS; СУБД: MySQL, PostgreSQL, SQLite, MongoDB; Docker; Docker-compose; Linux; Ubuntu</p>
                                    <p><span>Soft skills: </span> Умею гуглить и искать информацию, обучаемость, постоянно мотивирован, не сгораю, дисциплинирован.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-developer__item right">
                            <div class="card-info">
                                <div class="card-image">
                                    <img src="../static/pictures/yaroslav.jpg" alt="yaroslav">
                                </div>
                                <div class="card-text comfortaa">
                                    <h3 class="montserrat">Лебеденко Ярослав (Backend, Frontend, data scientist)</h3>
                                    <p><span>Hard skills: </span>Java; Python; PHP; Node.js: Electron, Tauri; HTML5; CSS3; JS; СУБД: MySQL; Linux: Ubuntu, Debain; Docker; Docker-compose; Apache; Электроника.</p>
                                    <p><span>Soft skills: </span>Обучаемость, Внимательность, ответственность, умение адаптироваться, способность находить нетривиальные решения задач, организованность, умение излагать свои мысли устно и письменно, умение объяснять, собранность, заинтересованность в получении новых знаний</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-developer__item none">
                            <div class="card-info">
                                <div class="card-image">
                                    <img src="../static/pictures/ruslan.jpg" alt="ruslan">
                                </div>
                                <div class="card-text comfortaa">
                                    <h3 class="montserrat">Уфимцев Руслан (Frontend UI/UX design)</h3>
                                    <p><span>Hard skills: </span>HTML5, CSS, JS, UU/UX desihn, Растровая графика, Векторная графика, Пиксельная графика</p>
                                    <p><span>Soft skills: </span>Обучаемость, Внимательность к деталям, Открытость, умение адаптироваться под ситуацию, Отзывчивость, Умение подстраиваться под клиента, Умение быстро находить решение для задачи, Умение Объяснять/Обучать, Заинтересованность в получении новых знаний</p>
                                </div>
                            </div>
                        </div>
                        <div class="card__buttons">
                            <div class="button-left card-button"><img src="../static/pictures/icons/arrow.svg" alt="arrow"></div>
                            <div class="button-right card-button"><img src="../static/pictures/icons/arrow.svg" alt="arrow"></div>
                        </div>
                    </div>
                </div>
                <div class="bottom-block block _anim-items">
                    <div class="card__position">
                        <div class="dot-position_item"></div>
                        <div class="dot-position_item active"></div>
                        <div class="dot-position_item"></div>
                        <div class="dot-position_item"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-serveses">
            <img src="../static/pictures/Vector3.png" alt="vector" class="vector">
            <div class="container">
                <div class="serveses__title">
                    <h2 class="rubik">Наши Возможности</h2>
                </div>
                <div class="serveses__items comfortaa">
                    <div class="serveses__item _anim-items">
                        <img src="../static/pictures/icons/web.svg" alt="web">
                        <h3>WEB</h3>
                        <p>Создание сайтов.</p>
                    </div>
                    <div class="serveses__item _anim-items">
                        <img src="../static/pictures/icons/datascience.svg" alt="pen">
                        <h3>ML и LLM engineering/data science</h3>
                        <p>Анализ и работа с big data, создание нейро сетевых моделей, CV.</p>
                    </div>
                    <div class="serveses__item _anim-items">
                        <img src="../static/pictures/icons/bot.svg" alt="bot">
                        <h3>Telegram bots</h3>
                        <p>Разработка телеграмм ботов любой сложности.</p>
                    </div>
                    <div class="serveses__item _anim-items">
                        <img src="../static/pictures/icons/app.svg" alt="app">
                        <h3>Desktop development</h3>
                        <p>Разработка красивых и современных desktop программ</p>
                    </div>
                    <div class="serveses__item _anim-items">
                        <img src="../static/pictures/icons/microservise.svg" alt="web">
                        <h3>Microservice architecture</h3>
                        <p>Создание высоко нагруженных микросервисов.</p>
                    </div>
                    <div class="serveses__item _anim-items">
                        <img src="../static/pictures/icons/pen.svg" alt="microservise">
                        <h3>UX/UI дизайн</h3>
                        <p>Создание качественного дизайна.</p>
                    </div>
                    <div class="serveses__item _anim-items">
                        <img src="../static/pictures/icons/server.svg" alt="server">
                        <h3>DevOps</h3>
                        <p>Работа с серверами, контейнеризация, Kubernetes, CI/CD, контроль версий.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-contacts">
            <div class="container _anim-items">
                <div class="section-contacts__wrapper">
                    <h2 class="rubik">Контакты</h2>
                    <div class="contacts__item">
                        <div class="contacts__item-img"><img src="../static/pictures/icons/telegram.svg" alt="telegram"></div>
                        <a target="_blank" href="https://t.me/bimbam">t.me/bimbam</a>
                    </div>
                    <div class="contacts__item">
                        <div class="contacts__item-img"><img src="../static/pictures/icons/mail.svg" alt="mail"></div>
                        <a target="_blank" href="https://this.bimbam@gmail.com">this.bimbam@gmail.com</a>
                    </div>
                    <div class="contacts__item">
                        <div class="contacts__item-img"><img src="../static/pictures/icons/microservise.svg" alt="tg"></div>
                        <a target="_blank" href="https://t.me/provodTech">t.me/provodTech</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__wrapper-logo footer__item">
                    <img src="../static/pictures/icons/BB-logo-half.svg" alt="logo">
                </div>
                <div class="footer__wrapper-nav footer__item">
                    <ul>
                        <li><a href="/" class="comfortaa">Главная</a></li>
                        <li><a href="/achievements" class="comfortaa">Достижения</a></li>
                        <li><a href="#" class="comfortaa">Мы в интернете</a></li>
                        <li><a href="/contacts" class="comfortaa">Услуги</a></li>
                    </ul>
                </div>
                <div class="footer__wrapper-contacts footer__item">
                    <div class="footer-contacts__item"><img src="../static/pictures/icons/telegram.svg" alt="telegram"><a target="_blank" href="https://t.me/bimbamunik">t.me/bimbamunik</a></div>
                    <div class="footer-contacts__item"><img src="../static/pictures/icons/mail.svg" alt="mail"><a target="_blank" href="https://this.bimbam@gmail.com">this.bimbam@gmail.com</a></div>
                    <div class="footer-contacts__item"><img src="../static/pictures/icons/web.svg" alt="tg"><a target="_blank" href="https://t.me/provodTech">t.me/provodTech</a></div>
                </div>
            </div>
        </div>
    </footer>
    <script src="../static/js/burger.js"></script>
    <script src="../static/js/carusel.js"></script>
    <script src="../static/js/scroll.js"></script>
</body>
</html>